* {
  font-family: sans-serif;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}

.sidebar {
  padding: 16px 0;
  border-right: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 75px;
}

.project-navigation {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  font-size: 1.25rem;
}

.project-navigation:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.project-navigation:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.project-navigation button,
.to-do-list button {
  border: none;
  padding: 4px;
  border-radius: 16px;
}

.add-project {
  border: none;
  border-radius: 4px;
  margin: 16px;
  font-size: 1.2rem;
}

.heading .project-name {
  font-size: 2.5rem;
  margin-top: 0;
}

.create-to-do {
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.content {
  padding: 16px;
}

.to-do-list {
  margin-top: 32px;
}

.to-do-list > div {
  display: grid;
  grid-template-columns: 1fr repeat(2, 75px);
  align-items: center;
  gap: 32px;
  padding: 16px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.to-do-title {
  font-size: 1.2rem;
  padding: 0;
}

.to-do-list button {
  height: 50px;
}

.to-do-list button img {
  width: 30px;
}